<div class="container">
  <div class="buttons">
    <div class="button blue" (click)="contraction()">
      Contraction
    </div>
    <div class="button yellow" (click)="clear()">
      Clear
    </div>
  </div>
  <div class="lists">
    <div class="list">
      <div *ngFor="let i of list" class="element">
        {{i.display}}
      </div>
    </div>
    <div class="list">
      <div *ngFor="let i of diffs" class="element">
        {{i.display}}
      </div>
    </div> 
  </div>
</div>
<router-outlet></router-outlet>